body {
    font-family: sans-serif;
}
body {
    margin: 0;
    padding: 0;
}

header {
    background-color: blueviolet;
    height: 40px;
    text-align: center;
    font-size: 24px;
}

header div {
    display: inline-block;
    margin: 5px 25px;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: calc(100vh - 100px);
    width: 100vw;

}

#button {
    width: 220px;
    height:  220px;
    border-radius: 100%;
    background-image: url(https://bel.ru/attachments/352720e3425805499fa9d790003ec91c9535c070/store/crop/0/0/1280/720/500/0/0/a23851798afec362aaca3356bee76ec48b1f7ff9c8fe695557af56843f45/1716968139245.webp);
    background-position: center;
    background-size: cover;
    filter: hue-rotate(5deg);
    border: 12px solid rgb(171, 233, 0);
    box-shadow: 0 12px 12px black;
    cursor: pointer;
}

#button:active {
    filter: hue-rotate(45deg);
    transform: translateY(-10px);
    
}

footer {
    background-color: blueviolet;
    height: 60px;
    text-align: center;
    font-size: 24px;
}

footer button {
    margin-top: 10px;
    border-radius: 12px;
}

footer button span {
    display: block;
    font-size: 18px;
}
.ac{
    background-color: blue;
}
